.container {
  font-family: arial;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

.container section {
  border-bottom: #fff 5px double;
}

/* syle for the nav list items */
.header > #nav {
  width: 100%;
  margin: 0px;
  background: #00316b;
  opacity: 0.9;
  position: fixed;
  top: 0;
}

.header > #nav ul {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.header > #nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* pseudo selector for nav list */
.header > #nav ul li a:hover {
  color: #bf56bf;
  text-decoration: underline;
}

.header > #nav ul li {
  max-width: 100%;
  display: inline-block;
  padding: 20px;
}

.title {
  width: 100%;
  height: 800px;
}

.title > #box1 {
  padding: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("../images/anthony-delanoix-14741-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title > #box1 h1 {
  color: #bf56bf;
  font-size: 60px;
  font-family: 'Limelight', bold;
  margin: 25px;
}

.title > #box1 sub {
  line-height: 70px;
  font-weight: bold;
  font-size: 1.5em;
  margin: 25px;
}

.title > #box1 a {
  font-size: 1.3em;
  padding: 20px 30px;
  margin: 70px;
  border: #bcd9e2 4px double;
  border-radius: 7px;
  text-decoration: none;
  color: #bf56bf;
}

.title > #box1 a:hover {
  background-color: #bcd9e2;
}

.main {
  padding-bottom: 100px;
}

.main ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

.main ul li .main-images {
  position: relative;
  height: 250px;
  width: 250px;
}

.main ul li .main-images img {
  /* position: absolute; */
  border-radius: 50%;
  border: #bcd9e2 3px solid;
  width: 250px;
  height: 250px;
  margin: 50px;
}

.main-images .center-image-title {
  position: absolute;
  border-radius: 50%;
  border: #bcd9e2 3px solid;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F7B26E;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.main ul li .main-images:hover .center-image-title {
  visibility: visible;
  opacity: 1;
}

.contact-footer-nav {
  background-color: #bcd9e2;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;
  max-width: 100%;
}

.contact-footer-nav div ul {
  list-style-type: none;
}

.contact-footer-nav div h3, .contact-footer-nav div ul li {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.contact-footer-nav div ul li {
  margin-right: 35px;
}

.contact-footer-nav div:last-child ul {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 145px;
}

.contact-footer-nav div:last-child ul li {
  color: #fff;
}

.footer {
  background-color: #00316b;
  display: flex;
  justify-content: center;
}

.footer h6 {
  color: #bf56bf;
}
